@font-face {
    font-family: icons;
    src: url("/src/fonts/icons/icons.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

[data-icon]:before {
    content: attr(data-icon);
    display: inline-block;
    font-family: icons;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
}
