@font-face {
    font-family: "Xcharter";
    src:
        local("Xcharter"),
        url("/src/fonts/xcharter/XCharter-Roman.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Xcharter";
    src:
        local("Xcharter"),
        url("/src/fonts/xcharter/XCharter-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Xcharter";
    src:
        local("Xcharter"),
        url("/src/fonts/xcharter/XCharter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Xcharter";
    src:
        local("Xcharter"),
        url("/src/fonts/xcharter/XCharter-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
