[data-anchor] {
    display: block;
    padding: $space-y $space-x;
    color: $anchor-color;
    font-family: $anchor-font-family;
    text-decoration: none;
    cursor: pointer;
    transition: $anchor-transition;

    &:where([data-state="active"], :hover, :active) {
        color: $anchor-active-color;
        text-decoration: none;
    }

    &:focus {
        outline: thin dotted;
        outline-offset: -0.125rem;
    }
}

@if $rams-menu == true {
    @include _anchor-menu();
}
