[data-navbar] {
    width: 100%;
    background-color: $navbar-background;
    color: $navbar-anchor-text-active;
}

[data-navbar="top"],
[data-navbar="bottom"] {
    z-index: 1000;
    position: fixed;
}

[data-navbar="top"] {
    top: 0;

    :where(&) [data-dropbox] {
        top: 100%;
    }
}

[data-navbar="bottom"] {
    bottom: 0;

    :where(&) [data-dropbox] {
        bottom: 100%;
    }
}

[data-anchor~="navbar"] {
    color: $navbar-anchor-text;

    &:where([data-state="active"], :hover, :active) {
        color: $navbar-anchor-text-active;
    }
}

[data-dropbox~="navbar"] {
    background-color: $navbar-dropbox-background;
}
