<template id="nav">
    <ul data-flex>
        <li>
            <a data-anchor="navbar" href="../index.html">Overview</a>
        </li>

        <li data-item="grow"></li>

        <li data-display="small-none">
            <a data-anchor="navbar" href="https://github.com/jacobxperez/atkinson-hyperlegible-pro">
                Contribute</a
            >
        </li>
        <li data-display="small-none">
            <a
                data-anchor="navbar"
                href="https://github.com/jacobxperez/atkinson-hyperlegible-pro/archive/refs/heads/main.zip"
                >Download Font</a
            >
        </li>

        <!-- Dropdown Menu -->
        <li data-display="small">
            <button data-anchor="navbar" data-toggle="pop" data-icon="&#xe081;"></button>

            <ul data-dropbox="navbar" data-position="left right">
                <li>
                    <a
                        data-anchor="navbar"
                        href="https://github.com/jacobxperez/atkinson-hyperlegible-pro"
                        >Contribute</a
                    >
                </li>
                <li>
                    <a
                        data-anchor="navbar"
                        href="https://github.com/jacobxperez/atkinson-hyperlegible-pro/archive/refs/heads/main.zip"
                        >Download Font</a
                    >
                </li>
            </ul>
        </li>
        <!-- end Dropdown Menu -->
    </ul>
</template>

<template id="footer">
    <hr />

    <p>
        <small>
            Learn more at
            <a href="https://brailleinstitute.org/freefont" rel="nofollow">The Braille Institute</a
                >. SIL Open Font License, v1.1.
        </small>
    </p>
</template>
