:where(form) select,
textarea,
input {
    margin: $space-y 0;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="url"] {
    display: block;
    width: 100%;
    padding: $form-padding;
    border: $form-border-width solid $form-border-color;
    background-color: $form-background;
    color: $form-text;
    font-family: $form-font-family;
    @if $form-border-radius != false {
        border-radius: $form-border-radius;
    }
    transition: $form-transition;
}

select:focus,
textarea:focus,
input:focus:not([type="button"], [type="reset"], [type="submit"]) {
    color: $form-text-active;
    border-color: $form-border-active;
}

textarea {
    min-height: $form-text-area-min-height;
    overflow: auto;
    resize: vertical;
}

button,
select,
[type="button"],
[type="reset"],
[type="submit"] {
    font-family: $button-font-family;
    overflow: visible;
    text-transform: none;
}

[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

:not([type="button"], [type="reset"], [type="submit"]):invalid {
    border-color: $danger;
}
