ol,
ul {
    list-style-type: none;
}

:--lists {
    padding-left: $leading;
    list-style-position: outside;
}

[data-list~="ol"] {
    list-style-type: $ol-list-style-type;

    & > li:first-child > & {
        list-style-type: $ol-list-style-type-child;
    }
}

[data-list~="ul"] {
    list-style-type: $ul-list-style-type;

    & > li:first-child > & {
        list-style-type: $ul-list-style-type-child;
    }
}

:--lists [data-list] {
    margin: 0;
}
