:--headings {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    @if $headings-color != false {
        color: $headings-color;
    }
}

h1,
[data-text~="h1"] {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2,
[data-text~="h2"] {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3,
[data-text~="h3"] {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

h4,
[data-text~="h4"] {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

h5,
[data-text~="h5"] {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
}

h6,
[data-text~="h6"] {
    font-size: $h6-font-size;
    line-height: $h6-line-height;
}

b,
strong {
    font-weight: bolder;
}

i,
em,
dfn {
    font-style: italic;
}

[title]:where(abbr, dfn) {
    text-decoration: $tooltip-text-decoration;
    text-underline-offset: $tooltip-underline-offset;
    cursor: help;
}

mark {
    background-color: $mark-background;
    color: $mark-text;
}

small,
sub,
sup,
[data-text~="small"] {
    font-size: $small-font-size;
}

sub,
sup {
    position: relative;
    line-height: 0;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

hr {
    display: block;
    margin: calc($leading / 2) 0;
    min-height: 0.0625rem;
    border-top: $hr-border-width $hr-border-style $hr-border-color;
}
