[data-button~="outline"] {
    border-color: $border-color;
}

[data-button~="tertiary"] {
    background-color: $tertiary;
    color: $tertiary-text;

    &:is([data-state="active"], :hover, :active) {
        background-color: $tertiary-active;
        color: $tertiary-text;
    }
}

[data-button="tertiary outline"] {
    border-color: $tertiary;
    color: $tertiary;
}

[data-button~="secondary"] {
    background-color: $secondary;
    color: $secondary-text;

    &:is([data-state="active"], :hover, :active) {
        background-color: $secondary-active;
        color: $secondary-text;
    }
}

[data-button="secondary outline"] {
    border-color: $secondary;
    color: $secondary;
}

[data-button~="primary"] {
    background-color: $primary;
    color: $primary-text;

    &:is([data-state="active"], :hover, :active) {
        background-color: $primary-active;
        color: $primary-text;
    }
}

[data-button="primary outline"] {
    border-color: $primary;
    color: $primary;
}

[data-button~="success"] {
    background-color: $success;
    color: $success-text;

    &:is([data-state="active"], :hover, :active) {
        background-color: $success-active;
        color: $success-text;
    }
}

[data-button="success outline"] {
    border-color: $success;
    color: $success;
}

[data-button~="warning"] {
    background-color: $warning;
    color: $warning-text;

    &:is([data-state="active"], :hover, :active) {
        background-color: $warning-active;
        color: $warning-text;
    }
}

[data-button="warning outline"] {
    border-color: $warning;
    color: $warning;
}

[data-button~="danger"] {
    background-color: $danger;
    color: $danger-text;

    &:is([data-state="active"], :hover, :active) {
        background-color: $danger-active;
        color: $danger-text;
    }
}

[data-button="danger outline"] {
    border-color: $danger;
    color: $danger;
}

[data-button~="outline"] {
    background-color: transparent;
}
