[data-button] {
    display: inline-block;
    padding: $button-padding;
    border: $button-border-width solid $button-border-color;
    background-color: $button-background;
    color: $button-text-color;
    @if $button-border-radius != false {
        border-radius: $button-border-radius;
    }
    font-family: $button-font-family;
    text-decoration: none;
    transition: $button-transition;
    cursor: pointer;

    &:is([data-state="active"], :hover, :active) {
        background-color: $button-background-active;
        text-decoration: none;
    }

    &:focus {
        outline: thin dotted;
        outline-offset: -0.125rem;
    }
}
