[data-state="disabled"],
[data-state="disabled"]:is(:hover, :active, :focus) {
    border-color: transparent;
    background-color: $disabled;
    color: $disabled-text;
    text-decoration: none;
    outline: 0;
    cursor: not-allowed;
}
