[data-box~="leading"] {
    margin: calc($leading / 2) 0;
}

[data-box~="padding"] {
    padding: $space-y $space-x;
}

[data-box~="padding-top"] {
    padding-top: $space-y;
}

[data-box~="padding-x"],
[data-box~="padding-right"] {
    padding-right: $space-x;
}

[data-box~="padding-bottom"] {
    padding-bottom: $space-y;
}

[data-box~="padding-x"],
[data-box~="padding-left"] {
    padding-left: $space-x;
}

[data-box~="border"] {
    border: $border-width solid $border-color;
}

[data-box~="border-top"] {
    border-top: $border-width solid $border-color;
}

[data-box~="border-left"],
[data-box~="border-x"] {
    border-left: $border-width solid $border-color;
}

[data-box~="border-right"],
[data-box~="border-x"] {
    border-right: $border-width solid $border-color;
}

[data-box~="border-bottom"] {
    border-bottom: $border-width solid $border-color;
}

[data-box~="full-width"] {
    width: 100%;
}
