@mixin _small-display() {
    [data-display~="small-none"],
    [data-display~="medium"],
    [data-display~="large"] {
        display: none;
    }
}

@mixin _medium-display() {
    [data-display~="medium-none"],
    [data-display~="small"],
    [data-display~="large"] {
        display: none;
    }
}

@mixin _large-display() {
    [data-display~="large-none"],
    [data-display~="small"],
    [data-display~="medium"] {
        display: none;
    }
}
