[data-section="footer"] {
    padding-bottom: calc($leading * 2);
}

[data-carousel] {
    position: relative;
    /* background-color: #333; */
}

[data-carousel] img {
    width: 100%;
    height: 100%;
    cursor: default;
}

[data-carousel="fullscreen"] {
    width: 100%;
    height: 100vh;
}

[data-carousel="fullscreen"] img {
    object-fit: cover;
    object-position: center;
    backface-visibility: hidden;
}

[data-slide] {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.6,.04,.98,.34),
        visibility 0.5s linear;
}

[data-carousel] [data-state="current"] {
    z-index: 5;
    visibility: visible;
    opacity: 1;
}

[data-carousel="fullscreen"] [data-tabs] {
    position: absolute;
    top: 0;
    left: 0;
}

[data-content="slide"] {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0em 0.125em 0.3125em rgba(0, 0, 0, 0.6),
        0em 0em 0.3125em rgba(0, 0, 0, 0.5);
}

[data-title="slide"] {
    font-size: 10vw;
}

[data-controls] {
    position: relative;
    width: 100%;
    height: 100%;
}

[data-button="prev-slide"],
[data-button="next-slide"] {
    z-index: 10;
    position: absolute;
    top: 80%;
    display: inline-block;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 3.125;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    border-radius: 100%;
}

[data-button="prev-slide"] {
    left: 2%;
}

[data-button="next-slide"] {
    right: 2%;
}

[data-button="prev-slide"]:hover,
[data-button="next-slide"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

[data-button="prev-slide"]::before,
[data-button="next-slide"]::before {
    position: absolute;
    top: 35%;
    display: inline-block;
    width: 0.8125rem;
    height: 0.8125rem;
    content: "";
    border-left: 0.25rem solid white;
    border-top: 0.25rem solid white;
    backface-visibility: hidden;
}

[data-button="prev-slide"]::before {
    transform: rotate(-45deg);
    right: 32%;
}

[data-button="next-slide"]::before {
    transform: rotate(135deg);
    left: 32%;
}

[data-indicator="tabs"] {
    z-index: 10;
    position: relative;
    top: 90%;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

[data-tab="indicator"] {
    width: 0.875rem;
    height: 0.875rem;
    background-color: transparent;
    border: 0.125rem solid hsla(0, 0%, 100%, 0.8);
    border-radius: 100%;
    box-shadow: 0 0 0.125rem #000;
    transition: background-color 0.5s cubic-bezier(.6,.04,.98,.34), border-color 0.5s cubic-bezier(.6,.04,.98,.34),
        box-shadow 0.5s cubic-bezier(.6,.04,.98,.34);
    cursor: pointer;
}

[data-tab="indicator"][data-state="active"] {
    background-color: #fff;
    border-color: hsla(0, 0%, 100%, 0.5);
    box-shadow: 0 0 0.125rem #fff;
}
